body {
    width:700px;
    margin:2em auto;
}

#header {
    width:700px;
    height:100px;
    border:1px solid #000;
    background:#abdcf8;
    text-align:center;
}

#right {
    float:right;
    width:540px;
    border:1px solid #000;
    background:rgb(190, 243, 247);
    margin:10px 0;
}

#left {
    width:150px;
}

.box {
    border:1px solid #000;
    background:#abdcf8;
    margin-top:10px;
    padding:0.5em;
}

#footer {
    border:1px solid #000;
    background:#abdcf8;
    clear:both;
    text-align:center;
}

.box ul {
    list-style-type:none;
    margin:0;
    padding:0;
}

.box p {
    margin:0 0 0.5em 0;
}

#content h2, #content p {
   margin:0;
   padding:0.5em;
}

body{
    background-image:url(thai.jpg);
    background-size: 100% 100%;
    background-attachment:fixed;
    
    }
    .content{
    background: white;
    width: 50%;
    padding: 40px;
    margin: 100px auto;
    font-family: calibri;
    
    }
    p{
    font-size: 25px;
    color:black;
    }
    #valkoinen{
        
        background: white;
        }
